App_WebReferences/localhost/MyWService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mywebservice.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mywebservice.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mywebservice.org">
      <s:element name="ServerTime">
        <s:complexType />
      </s:element>
      <s:element name="ServerTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServerTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculatePercentage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MyTotal" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MyValue" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculatePercentageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculatePercentageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServerTimeSoapIn">
    <wsdl:part name="parameters" element="tns:ServerTime" />
  </wsdl:message>
  <wsdl:message name="ServerTimeSoapOut">
    <wsdl:part name="parameters" element="tns:ServerTimeResponse" />
  </wsdl:message>
  <wsdl:message name="CalculatePercentageSoapIn">
    <wsdl:part name="parameters" element="tns:CalculatePercentage" />
  </wsdl:message>
  <wsdl:message name="CalculatePercentageSoapOut">
    <wsdl:part name="parameters" element="tns:CalculatePercentageResponse" />
  </wsdl:message>
  <wsdl:portType name="MyWServiceSoap">
    <wsdl:operation name="ServerTime">
      <wsdl:input message="tns:ServerTimeSoapIn" />
      <wsdl:output message="tns:ServerTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculatePercentage">
      <wsdl:input message="tns:CalculatePercentageSoapIn" />
      <wsdl:output message="tns:CalculatePercentageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyWServiceSoap" type="tns:MyWServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServerTime">
      <soap:operation soapAction="http://mywebservice.org/ServerTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculatePercentage">
      <soap:operation soapAction="http://mywebservice.org/CalculatePercentage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyWServiceSoap12" type="tns:MyWServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServerTime">
      <soap12:operation soapAction="http://mywebservice.org/ServerTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculatePercentage">
      <soap12:operation soapAction="http://mywebservice.org/CalculatePercentage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyWService">
    <wsdl:port name="MyWServiceSoap" binding="tns:MyWServiceSoap">
      <soap:address location="http://localhost:51059/MyWService.asmx" />
    </wsdl:port>
    <wsdl:port name="MyWServiceSoap12" binding="tns:MyWServiceSoap12">
      <soap12:address location="http://localhost:51059/MyWService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>